$desktopMinWidth: 600px;

//@import "bootstrap";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #ffffff;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
}

#banner {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    background-color: #666;
    color: white;

    h1 {
        padding: 0;
        font-size: 18px;
        margin: 0 0 1em 0;
        @media only screen and (min-width: $desktopMinWidth) {
            margin: 0 0 5px 0;
        }
    }

    #controls {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1em;

        button {
            font-size: 24px;
            padding: 10px;
            margin: 0 1px 0 1px;
        }

        #zoomout, #zoomin {
            //width: 3em;
            width: 50%;
        }

        #zoomout {
            //margin-right: 1em;
        }

        #download-button {
            margin-right: 2px;

            * {
                width: 100%;
                height: 100%;
            }
        }

        button {
            white-space: nowrap;
        }

        #page-num-container {
            align-self: center;
            text-align: right;
            justify-self: flex-end;
        }
    }

    .control-group {
        display: flex;
        align-items: stretch;
    }

    #controls > .control-group:last-child {
        margin-right: 0;
    }

    #controls {
        & > .control-group:nth-child(1), & > .control-group:nth-child(3) {
            justify-self: stretch;
        }

        & > .control-group:nth-child(2), & > .control-group:nth-child(4) {
            justify-self: stretch;
        }
    }

    @media only screen and (min-width: $desktopMinWidth) {
        #controls {
            font-size: 14px;
            display: block;
            text-align: right;

            button {
                font-size: inherit;
                padding: 3px;
                margin: 0;
            }

            #zoomout, #zoomin {
                width: 2.5em;
            }

            #zoomout {
                margin-right: 0;
            }

            #download-button * {
                width: auto;
                height: auto;
            }
        }

        .control-group, #download-button {
            margin-right: 2em !important;
        }

        .control-group {
            display: inline-block;
            white-space: nowrap;
        }
    }
}

#pdf-container {
    white-space: nowrap;
    overflow: auto;

    canvas {
        background-color: #ccc;
        display: inline-block;
        vertical-align: top;
    }

    & > canvas:first-child {
        border-right: solid 1px #999;
    }
}

#error-message {
    padding: 10px;

    h1 {
        font-size: 20px;
    }

    * {
        font-size: 16px;
    }
}

// BOOTSTRAP
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.btn-light {
    color: #212529;
    background-color: #E0E0E0; //#f8f9fa;
    border-color: #999; //#f8f9fa;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    //border-radius: .25rem;
    border-radius: 3px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
}

