$desktopMinWidth: 600px;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #ffffff;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
}

#banner {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    background-color: #eee;

    h1 {
        padding: 0;
        font-size: 18px;
        margin: 0 0 1em 0;
        @media only screen and (min-width: $desktopMinWidth) {
            margin: 0 0 5px 0;
        }
    }

    #controls {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 1em;

        button {
            font-size: 24px;
            padding: 10px;
        }
        #zoomout, #zoomin {
            width: 3em;
        }
        #zoomout {
            margin-right: 1em;
        }
    }

    .control-group {
        white-space: nowrap;
    }

    #controls > .control-group:last-child {
        margin-right: 0;
    }

    #controls {
        & > .control-group:nth-child(1), & > .control-group:nth-child(3) {
            justify-self: start;
            align-self: start;
        }

        & > .control-group:nth-child(2), & > .control-group:nth-child(4) {
            justify-self: end;
            align-self: end;
        }
    }

    @media only screen and (min-width: $desktopMinWidth) {
        #controls {
            font-size: 14px;
            display: block;
            text-align: right;

            button {
                font-size: inherit;
                padding: 3px;
            }
            #zoomout {
                margin-right: 0;
            }
        }

        .control-group {
            margin-right: 2em;
            white-space: normal;
        }
    }
}

#pdf-container {
    white-space: nowrap;
    overflow: auto;

    canvas {
        background-color: #ccc;
        display: inline-block;
        vertical-align: top;
    }

    & > canvas:first-child {
        border-right: solid 1px #999;
    }
}

#error-message {
    padding: 10px;

    h1 {
        font-size: 20px;
    }

    * {
        font-size: 16px;
    }
}

